<%- include('./includes/head.ejs') %>
</head>

<body>
<%- include('./includes/nav.ejs') %>

<!-- HERO SECTION WITH IMAGE BACKGROUND -->
<header class="hero-section">
    <div class="content">
        <!--  <img src="img/cover.jpeg" class="logo" alt=""> -->
        <p class="sub-heading">Flash Summer Sale!</p>
    </div>
</header>

     


                    
<div>           
<% if (prods.length> 0) { %>
<section class="product">
    <h2 class="product-category">best selling</h2>
</section>

<div class="product-container">
    <%for (let product of prods) { %>
        <div class="product-card">
            <div class="product-image">
                <span class="discount-tag"><%= product.discount %>% off</span>
                <%= product.image %>PRODUCT IMAGE <%= product.image1 %>
                <img src="<%= product.name %>" class="product-thumb" alt="">
                <!-- INCLUDE 'PARTIAL' BUTTON FOR 'ADD TO WISHLIST, and pass productid' -->
                <%- include('./includes/add-to-wishlist.ejs', {product: product}) %>
            </div>
            <div class="product-info">
                <h2 class="product-name">
                    <%= product.name %>
                    <%= product.image %>
                </h2>
                <p class="product-short-des">
                    <%= product.description %>
                </p>
                <span class="price">
                    <%= product.selling_price %>
                </span><span class="actual-price">
                    <%= product.price %>
                </span>
            </div>
        </div>
        <% } %>
</div>
<% } %>
<%- include('./includes/footer.ejs') %>

    </body>

    </html>