<%- include('./includes/head.ejs') %>
</head>

<body>
<%- include('./includes/nav.ejs') %>

<style>
    /* .outerdiv {
    position: relative;
    width: 100%;
    } */
    .outerdiv {
        width: 320px;
        height: 340px;
    }
    .gridouter {
        display: flex;
		justify-content: center;
        flex-direction: column;
        position: relative;
        width: 320px;
      
       
    }
    .external {

    }
    .svg {
        position: absolute;
        width: 120px;
        height: 104px;
    }
  /*   .polygon:active {
        transition: transform 0.3s;
        transform: scale(0.9, 0.9);
        /(30px, 3px, 5);
    } */
    .polygon {
    
    }
    .clicktransform {
        transition: transform 0.3s;
        transform: scale(0.9, 0.9);
       
        /* //(30px, 3px, 5); */
    }
    .clicktransformtest {
        color: purple;
        background: yellow;
        text-decoration: line-through;
        transition: all 0.2s;
        transform: scale(0.9, 0.9);
    }
    .animate {
        
        animation-name: scaleanimation;
		animation-duration: 0.2s;
    }
    @keyframes scaleanimation {
		/* now anyrules we add here will apply to animation-name: square element */
		/* 0% {transform: rotatex(20deg);}
		25% {transform: rotateY(160deg);}
	    50% {transform: rotateY(200deg);}
		75% {transform: rotateY(240deg);}
		100% {transform: rotateY(360deg);} */
        0% {
            transform-origin: center;
            transform: scale(1,1);
        }
		25% {
            transform-origin: center;
            transform: scale(0.95,0.95);}
	    50% {
            transform-origin: center;
            transform: scale(0.9,0.9);}
		75% {
            transform-origin: center;
            transform: scale(0.95,0.95);}
		100% {
            transform-origin: center;
            transform:scale(1,1)}
    }
    .letterstype {
        text-align: center;
        font-size: 20pt;
        font-weight: bold;
        max-width: 320px; 
        height: 60px;
    }

    .letter{
        font-size: 20pt;
        transform: translate(-8px);
        font-weight: bold;
    }
   /*  .svgg {
        height: 400px;
        width: 400px;
    } */
    .center {
       fill: #F6D921;

    }
    .outer {
        fill: #E6E6E6;
        
    }

    /* 93 down */
    .svg:nth-child(1) {
    transform: translate(82%, 115%);
    /* transform: translate(50%, 50%); */
    }
    .svg:nth-child(2) {
    transform: translate(160%, 64%);
    /* 0 */
    }
    .svg:nth-child(3) {
    transform: translate(160%, 167%);
    /* 127%, 103% */
    }
    .svg:nth-child(4) {
    transform: translate(82%, 218%);
    /* 50%, 153% */
    }
    .svg:nth-child(5) {
    transform: translate(4%, 166%);
    
    }
    .svg:nth-child(6) {
    transform: translate(4%, 64%);
    }
    .svg:nth-child(7) {
    transform: translate(82%, 12%);
    /* -54 */
    }
    .letternoselect {
        user-select: none; 
    }
    .buttonsdiv {
        display: flex;
        justify-content: center;
        flex-direction: row;
       /*  position: relative;
        top: -20px; */
    }
    .buttonsdivmini {
        width: 200px;
        display: flex;
        justify-content: space-between;
    }
    .reloadb {
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
    }
    .reloadb > i {
        margin-left:-2px;
        margin-top: 4px;
    }
    .btn-outline-secondary {
        border: 1px solid rgba(228, 228, 228, 0.822) !important;
        font-size: 12pt;
        font-weight: regular;
        font: Courier New;
    }
    .orange {
        color: #f6d921;
    }

    .pointerline {
        color: #f6d921;
       
        animation-name: pointer;
     /*    animation-delay: 2s; */
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        font-size: 32pt;
    }
    @keyframes pointer {
        0% {
            opacity: 1;
        }
        45% {
            opacity: 1;
        }
        46%{
            opacity: 0;
        }
        85% {
            opacity: 0;
        }
        91%{
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
    .alertdivremove {
        width: 0px;
        position: absolute;
        top: 0;
        left: 0%;  
        z-index: 0;
       
      }
    .alertdivshow {
       /*  width: 150px; */
      /*   position: absolute; */
       /*  top: 0;
        left: 50%;   */
        z-index: 40;
        animation-name: alertdivanimation;
        animation-duration: 0.5s;
        animation-iteration-count: 1;
        border: 1px solid lightgray;
        background-color: white;
        padding: 2px 11px;
        font-size: 0.8rem;
        
      }
 
      @keyframes alertdivanimation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
      }
      .alertdivwrapper{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        column-gap: 10px;
      }
    .ourmatchedwordsdivouter{
        border: 1px solid lightgray;
        border-radius: 5px;
        height: 35px;
        margin: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
        max-width: 320px;
    }
    .wordlistword{
        margin-right: 5px;
        font-size: 10pt;    
    }
    .ourmatchedwordsdiv1{
        width: 270px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin-left: 5px;
    }
    .btn-outline-secondary {
        border-radius: 20px;
        font-size: 10pt;
    }
    .pointshow {
       /*  margin-left: auto; */
    }
</style>
<!--  word 
 centerletter



wordarray  -->

 <!-- wordarray -->




<script>
    const wordarray = '<%=wordarray%>';
    //const chars = word.split('');
   // console.log(chars);
   // document.getElem
   /*   <!-- <span>TYPE LETTERS HERE</span> -->
<!--         <span id="pointerline" class="pointerline" style="font-size: 26pt; color: #f6d921">|</span> --> */
</script>
<div id="test"></div>
<div class="gridouter">
    <div id="ourmatchedwordsdivouter" class="ourmatchedwordsdivouter">
        <div id="ourmatchedwordsdiv1" class="ourmatchedwordsdiv1"></div>
        <div id="ourmatchedwordsdiv2" class="ourmatchedwordsdiv2"><i class="fa-solid fa-angle-down"></i></div>
        
    </div>
    <div class="alertdivwrapper">
        <div id="alertdiv">

        </div>
        <div id="pointshow" class="pointshow">

        </div>
    </div>
    <div id="letterstype" class="letterstype"><i id="pointerline" class="fa-regular fa-pipe pointerline">|</i></span>
    </div> <!-- letterstype -->

    <div class="outerdiv">
        <svg class="svg" id="svg9"> <!--  width="400" height="180" -->
            <polygon id="p9" class="polygon center"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9"></polygon>
            <text id="outerletter9" class="letter lettercentre letternoselect" x="50%" y="50%" dy="0.35em"><%=centerletter.toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg0"> <!--  width="400" height="180" -->
            <polygon id="p0" class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter0" id="centerletter" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em"><%=wordarray[0].toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg1"> <!--  width="400" height="180" -->
            <polygon id="p1" class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter1" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em"><%=wordarray[1].toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg2"> <!--  width="400" height="180" -->
            <polygon id="p2"  class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter2" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em" ><%=wordarray[2].toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg3"> <!--  width="400" height="180" -->
            <polygon id="p3"  class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter3" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em"><%=wordarray[3].toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg4"> <!--  width="400" height="180" -->
            <polygon id="p4" class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter4" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em"><%=wordarray[4].toUpperCase()%></text>
        </svg>
        <svg class="svg" id="svg5"> <!--  width="400" height="180" -->
            <polygon id="p5" class="polygon outer"  points="0,51 30,0 90,0 120,51.9 90,103.9 30,103.9" ></polygon>
            <text id="outerletter5" class="letter letterouter letternoselect" x="50%" y="50%" dy="0.35em"><%=wordarray[5].toUpperCase()%></text>
        </svg>
        
        
    </div> <!-- outerdiv -->
    <div id="buttonsdiv" class="buttonsdiv">
        <div class="buttonsdivmini" id="buttonsdivmini">
        <a href="" id="deleteb" class="btn btn-outline-secondary deleteb" style="padding-top: 9px">Delete</a>
        <a id="shuffle" href="" class="btn btn-outline-secondary reloadb"  style="padding-top: 9px;">
            <i class="fa-solid fa-rotate"></i></a>
        <a href="" id="enterb" class="btn btn-outline-secondary enterb"  style="padding-top: 9px;">Enter</a>
    </div>
    </div>   <!-- buttonsdiv -->
</div> <!-- gridouter -->

<script>
    console.log('<%= allmatchingwordsa %>', 'ALL MATCHING WOOOOOOORDS!');
 // console.log(existingword1,'existingword1');
 //   console.log(object);
    console.log('<%= wordarray %>', 'word array ');

function checkword(word) {
 
}

function shuffle(array) {
    let currentIndex = array.length,  randomIndex;
    event.preventDefault();
    // While there remain elements to shuffle.
    while (currentIndex != 0) {

        // Pick a remaining element.
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        // And swap it with the current element.
        [array[currentIndex], array[randomIndex]] = [
        array[randomIndex], array[currentIndex]];
    }

    return array;
    }
document.querySelector('#shuffle').addEventListener('click', e => {
    
     let existingword1 = '<%= wordarray %>';
    console.log('<%= wordarray %>','existingword1');
    const existingwordtoarray = existingword1.split(',');
    let newarray = shuffle(existingwordtoarray);

    let lettersinpage = document.querySelectorAll('.letterouter');
    newarray.forEach(function(letter1, index) {

        document.querySelector(`#outerletter${index}`).textContent = letter1.toUpperCase();
    });

    e.preventDefault();
})

//CALCULATE TOTAL POINTS
const points = () => {
   
    let matchingwords = '<%=  allmatchingwordsa %>';
    
    let matchingwordstoarray = matchingwords.split(',');
    //For each word, we count how many letters, and how many points the total is
    let totalpoints = 0;
    matchingwordstoarray.forEach(function(word, index) {
        let wordlength = word.length;
        
        if(wordlength === 4) {
            totalpoints += 1;
        }
        else if(wordlength > 4) {
            totalpoints += wordlength;
        }
  
    });
    //then add THE POINTS FOR THE PANGRAMS 
    let pangrams1 = '<%= pangrams %>';
    let pangramsarray = pangrams1.split(',');
    pangramsarray.forEach(function(pangram, index) {
        totalpoints += 7;
    });
    console.log(pangramsarray,'pangramsarray');
    console.log(totalpoints, 'totalpoints without pangrams');
    console.log(matchingwordstoarray,'matchingwordstoarray!!!!!!!!!!');

    gamelevel(totalpoints);

}
points();
function gamelevel(totalpoints) {
    //THEN CALCULATE HOW MANY POINTS FOR EACH LEVEL YOU NEED
    let beginner = 0;
    let goodstart =  Math.round(totalpoints * 0.0215);
    let movingup = Math.round(totalpoints * 0.0537);
    let good = Math.round(totalpoints * 0.075);
    let solid = Math.round(totalpoints * 0.15);
    let nice = Math.round(totalpoints * 0.247);
    let great = Math.round(totalpoints * 0.397);
    let amazing = Math.round(totalpoints * 0.505);
    let genius = Math.round(totalpoints * 0.69);
    //let goodstartrounded = Math.round(goodstart);




    console.log(goodstart, 'goodstartrounded');
    console.log(movingup, 'movingup');
    
}



    document.addEventListener('click', e => {
        console.log(e, 'event');
        console.log(e.target.tagName, 'e.target.tagName');
        console.log(e.target.id, 'e.target.id');
        let clicktag = e.target.tagName;
        let clickclass = e.target.classList;
        let clickid = e.target.id; 
        let getnumberindex = clickid[clickid.length -1]
       //this is also the array index
        //now if we click on polygon
        let clickidconcat = '#' + clickid;
      //   if(clicktag == 'polygon' || clicktag == 'TEXT'){
        if(clicktag == 'polygon' || clickclass.contains('letter')){
                console.log('clicked', clicktag);
       
           let effecttarget =  document.querySelector(`#p${getnumberindex}`);

            let newnumberonly = clickid.charAt(clickid.length-1);
            effecttarget.classList.add('animate');
            let wait = setTimeout(() => {
                effecttarget.classList.remove('animate');
            }, 300);   
          
           let letterindex = `outerletter${newnumberonly}`;
           let letterindextexttag = document.querySelector(`#${letterindex}`);
           let leterindextexttagLetter = letterindextexttag.textContent;
         
        let targetbox = document.querySelector('#letterstype');
  //      let targetboxAddletter = targetbox.textContent = leterindextexttagLetter;
    //    let targetboxtext = targetbox.textContent;

            let spanmake = document.createElement('span');
            spanmake.textContent = leterindextexttagLetter;
            let parent = targetbox;
            let contents = targetbox.childNodes;
            let contentslength = targetbox.childNodes.length;
            let findcontents = contents.forEach(function(element, index) {
                console.log(element, index, 'element', 'index');
            });
            console.log(contents, 'contents');
            if(contentslength == 2) {
                spanmake.className = 'orange';
            }
       //     console.log(targetbox.innerHTML,'targetbox.innerHTML');
            //console.log(targetbox.innerHTML.tagName,'tagName');
          
            else {
                spanmake.className = 'blue';
            }
            const pointerline = document.querySelector('#pointerline');
          pointerline.before(spanmake);
        //   parent.appendChild(spanmake);

    //    document.querySelector('#outerletter'+newnumberonly).classList.add('animate');
//works   document.querySelector('#outerletter'+newnumberonly).classList.add('clicktransformtest');
            //now we need to get the letter from the array
        } //  document.querySelector
    })

    document.querySelector('#deleteb').addEventListener('click', e => {
        event.preventDefault();
        let lettersboxis =  document.querySelector('#letterstype');
       //we want to delete last span which is letter
       //we might have last span always defa
        //grab all 
        let lettersinbox = document.querySelectorAll('#letterstype span');

        lettersinbox[lettersinbox.length-1].remove();
        
        
        
       let wordfromarray = newarray1.join();
       const wordfromarray1 = wordfromarray.replaceAll(',', '');

       // lettersboxis.prepend

        console.log(newarray1, 'newarray1');
        console.log(wordfromarray1, 'wordfromarray');
        //let lettersinboxlength = lettersinbox.length;

       
    }
    )
    
let yourmatchedwords = [];
let ourmatchedwordsdiv = document.querySelector('#ourmatchedwordsdiv1');

let lettersinbox = document.querySelectorAll('#letterstype span');
let alertdiv = document.querySelector('#alertdiv');
let alertmessage = '';
let centerletter = '<%= centerletter %>';

//EVENT LISTENER FOR PRESS 'ENTER' , 
document.querySelector('#enterb').addEventListener('click', e => {
    event.preventDefault();
    
    //MAKE A STRING OF WORD, FROM SELECTED LETTERS 
    let lettersboxis =  document.querySelector('#letterstype');
    let lettersinbox = document.querySelectorAll('#letterstype span');
    let wordarray = [];
    lettersinbox.forEach(function(letter, index) {
        wordarray.push(letter.textContent);
    });
    let wordfromarray = wordarray.join();
    const wordfromarray1 = wordfromarray.replaceAll(',', '').toLowerCase();
   

    let wordsarray = '<%=  allmatchingwordsa %>';
    let ifincludes = wordsarray.includes(wordfromarray1);
    let message = '';

    
/* function test1 () {

 */
    // METHOD THAT DISPLAYS MESSAGE ON THE SPELLIGN BEE e.g. 'word already found'
    function MessageM(message, wordpoints) {
        let pointshowdiv = document.querySelector('#pointshow');
        let pointstoshow = '+'+wordpoints;
        pointshowdiv.textContent = pointstoshow;
        alertdiv.textContent = message;
        alertdiv.classList.add('alertdivshow');
        let wait = setTimeout(() => {
            alertdiv.classList.remove('alertdivshow');
     //       alertdiv.classList.add('alertdivshow');
            alertdiv.textContent = '';
            lettersinbox.forEach (function(element, index) {
            element.remove();
        });
        }, 20000);
    }
    //VALIDATION FOR WORD
    const validation = () => {
        //IF LESS THAN 4 CHARACTERS - MESSAGE
        if(wordfromarray1.length < 4 ){
            console.error(wordfromarray1.length, 'word length');
            return MessageM('Word too short');
        }
        //IF MORE THAN 4 CHARACTERS
        else if(wordfromarray1.length > 3){  
            //MAKE SURE CENTRE LETTER IS INCLUDED
            if(!wordfromarray1.includes(centerletter)) {
                console.error('missing center letter');
                return MessageM('Missing Center Letter');
            }
            //IF LETTER INCLUDED, CHECK IF WORD IS INCLUDED
            else {
                //CHECK YOU HAVEN'T FOUND WORD ALREADY
                if(yourmatchedwords.includes(wordfromarray1) == true) {
                return MessageM('Already found!');
                }
                else {
                //CHECK IF WORD IS IN OUR LIST 
                    //if not in word list
                    if(!wordsarray.includes(wordfromarray1)) {
                        return MessageM('Not a word');
                    }
                    //IF IT'S IN OUR LIST, ADD IT TO ARRAY
                    else {
                        console.log('word found');
                        yourmatchedwords.push(wordfromarray1);
                       
                        //check if pangram
                        let pangrams = '<%= pangrams %>';
                        let pangramsarray = pangrams.split(',');
                        let ifpangram = pangramsarray.includes(wordfromarray1);

                        console.log(pangrams,'pangrams!!!!!!');

                        //CALCULATE POINTS AND DISPLAY
                        let points = wordfromarray1.length; 
                        let wordpoints = 0;

                        if (points === 4) {
                            wordpoints += 1;
                        }
                        else if (points > 4) {
                            wordpoints += points;
                        }

                        if(ifpangram == true) {
                            wordpoints += 7;
                        }

                        console.log(wordpoints, 'wordpoints');


                       // var sentence = "Mr. glue has a blue shouse";
                      //  var regularExpression = /\bblue\b/g;
                 /*      let  regularExpression = `/\b${wordfromarray1}\b/g`;
                  //      var output = regularExpression.test(sentence);
                       // let centreletter = `[${centerletter}]`;
                        const regexCentreLetter = new RegExp(`${regularExpression}`, 'g');
                        let testregexpcenter = regexCentreLetter.test(pangrams);
                       alert(testregexpcenter,'testregexpcenter')


                        let pagrammatch = pangrams.includes(wordfromarray1); */
                        let spanmake = document.createElement('span');
                        spanmake.className = 'wordlistword';
                        let capitalisedMatchedword = wordfromarray1.charAt(0).toUpperCase() + wordfromarray1.slice(1);                          
                          
                       

                       spanmake.textContent = capitalisedMatchedword;

                         //OTHER WAY
                      //   let newspan = `<span class="">${capitalisedMatchedword}</span>`;

                            ourmatchedwordsdiv.appendChild(spanmake);

                            lettersinbox.forEach (function(element, index) {
                            element.remove();
                            });
                        if(ifpangram == true) {
                            //create span to display word on page
                           
                            return MessageM('Pangram!', wordpoints);
                        }
                        else {
                           //create span to display word on page
                          
                            return MessageM('Nice!', wordpoints);

                            }


                       
                    }
                
                //can create inside div a list, and append each
                //or can do for each, everytime udpda
             //   let arraytowords = yourmatchedwords.forEach(function(element, index) {
                
                //then clear board
                
              //  });
                return alertmessage = '';
                }
            }
            //else if includes center letter




    } 
    }

   //validation();
    if(validation() !== ''){
     //   alert(alertmessage);
    }

})
</script>